/*Resets*/

/* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/*Fuente google*/

/* @font-face {
    font-family: 'Andreas';
    src: url(../assets/fonts/Andreas.ttf);
} */

/* html{
    background-color: #2b3035;
} */

/*Nav bar*/

.container{
    
    padding-left: 0;
} 

.menu-logo img{
    width: 150px;
} 

.logo-img-svg{
    background-image: url(../assets/img/imagen-menu1.svg);
} 

.menu{
    
    flex-grow: 0;
    font-weight: 500;
} 

/*footer*/

/*margenes del footer*/
/* footer{
    margin-top: 5rem;   
    background-color: #f8f9fa;
} */


/* #footer-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} */

/*Tamaño de la imagen del footer*/
/* section #footer-img img{
    width: 150px;
    height: 150px;    
    border-radius: 5%;
} */

/* .section-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: start;
    padding: 0 3vw 0 3vw;
    gap: 15vw;
    text-align: center;
} */


/*Tamaño titulos del footer*/
/* .section-footer div h3{
    font-size: 2em;
} */

/*Tamaño de los textos del footer*/
/* .section-footer div p{
    font-size: 2em;
} */

/*Position listas de redes sociales*/
/* .footer-list ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
} */


/*Quitar viñetas de las listas*/
/* .footer-list ul li{
    list-style-type: none;
} */

/*linea divisora*/
/* .line-front-page{
    border-top: 1px solid #8b8b8b;
  height: 2px;
  margin: 0 25px 0 25px;

} */

/*alinear los componentes*/
/* .align-items{
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
} */

/*main index*/

/*titulo portada*/
/* .section-index-titulo h1{

    color: #0048b1;
    text-align: center;
    font-family: 'Andreas'; 
    font-weight: bold;
    font-size: 4vw;
    margin: 32px 0 32px 0;
} */


/* .section-index-1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
} */

/*Tamaño de la imagen portada*/
/* .section-index-1 div img{
    width: 30vw;
} */

/*Tamaño de titulo portada*/
/* .front-page-text h2{
    font-family: 'Andreas'; 
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 32px;
} */

/*Tamaño del contenido de la portada*/
/* .front-page-text{
    font-size: 2vw;
} */

/*margen del texto de la portada*/
/* .front-page-text p{
    margin-left: 32px;
} */


/*Titulo de categorias*/

/* #category h2{

    font-family: 'Andreas';
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 16px;
} */



/* .section-instrument-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 3rem;
} */

/* .img-instrument-index{
    width: 382px;
} */

/*Tamaño de las imagenes*/
/* .img-instrument-index img{
    width: 320px;
    height: 320px;
    border-radius: 5%;
} */

/* .img-instrument-index h3{
    margin-top: 0.5rem;
} */

/* .img-instrument-index p{

    font-size: 1vw;
} */

/*botones de las tarjetas*/
/* .button-instrument-index{
    background-color: #0048b1;
    font-family: 'Andreas'; 
    font-weight: 700;
} */

/* .video-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: 32px;
} */

/*Tamaño titulo del video*/
/* .video-index h2{
    width: 560px;
    text-align: center;
    font-family: 'Andreas'; 
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 16px;
} */


/*main Mi Trayectoria*/

/*Titulo*/
/* .div-trayectory h1{
    
    color: #0048b1;
    text-align: center;
    justify-content: center;
    font-family: 'Andreas'; 
    font-weight: 600;
    font-size: 4vw;
    margin: 64px;  
} */


/* .div-trayectory-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
} */

/*tamaño de las imagenes*/
/* .div-trayectory-1 img{
    width: 25vw;
} */

/*Tamaño de las subtitulos*/
/* .text-trayectory h2{
    margin-bottom: 32px;
    font-family: 'Andreas'; 
    font-weight: bold;
    font-size: 3vw;
} */

/*Tamaño del contenido de las tarjetas*/
/* .text-trayectory p{
    font-size: 2vw;
} */

/*Margenes del texto de las tarjetas*/
/* .text-trayectory p{
    margin-left: 32px;
} */

/*main Academy*/

/*Tamaño del contenido del carrusel*/
/* .carousel-img{
    width: 100%;
    height: 500px;
} */

/*Tamaño de las imagenes del carrusel*/
/* .carousel-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
} */

/*Titulo*/
/* .titulo-academia h1{
    color: #0048b1;
    text-align: center;
    justify-content: center;
    font-family: 'Andreas'; 
    font-weight: 600;
    font-size: 4vw;
    margin: 64px;
} */

/* .text-academia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0 64px 0;
} */

/*Tamaño del h2*/
/* .text-academia h2{
    font-size: 3vw;
} */

/*Tamaño y margenes del texto*/
/* .text-academia p{
    text-align: center;
    justify-content: center;
    font-size: 2vw; 
    margin: 32px 32px 64px 32px;
} */

/*Boton*/
/* .button-academy{
    background-color: #0048b1;
    font-family: inherit;
    font-size: 2vw;
    padding: 30px;
    border-radius: 25px;
} */

/*main-tienda*/

/* #titulo-tienda{
    color: #0048b1;
    font-family: 'Andreas';
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 16px;
} */

/*Titulos de la pagina*/
/* #category-tienda{

    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 16px;
} */

/*padding aplicado a el titulo de accesorios*/
/* div #category-tienda-1{

    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 2rem;
} */

/* .div-instrument-tienda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    justify-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 3rem;
} */

/* .card-instrument-tienda{
    width: 320px;
} */

/* .card-instrument-tienda img{
    width: 320px;
    height: 320px;
    border-radius: 5%;
} */

/*botones de las imagenes*/
/* .logo-button-shopp .button-instrument-tienda{
    background-color: #0048b1;
    font-family: 'Andreas'; 
    font-weight: 700;
    padding: 15px;
} */

/*tamaño del logo del boton*/
/* .logo-button-shopp img{
   
    height: 25px;
    width: 25px;
} */

/*main contact*/

/* .titulo-contacto h1{
    color:#0048b1;
    font-family: 'Andreas';
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 32px;
} */

/* .text-contacto p{

    font-size: 1vw;
    text-align: center;
    justify-content: center;
    margin: 0 4em 0 4em;
} */

/* .titulo-2-contacto h2{

    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    text-align: center;
    padding-top: 4rem;
} */

/*margenes*/
/* .form-contact{
    margin: 25px;
} */

/*Boton*/
/* .button-contact-1{

    font-family: inherit;
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
} */



/*Media Query todas las paginas*/

 /*Media query nav bar*/
 @media screen and (max-width: 991px){

 .menu-items{

    align-items: center;
    z-index: 1;
    width: 100vw;
    background-color: #f8f9fa;
}

}

/*Media query para monitores pequeños*/
@media screen and (max-width: 1600px) and (min-width: 1025px){

    .align-items{
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .section-instrument-index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5rem;
        margin: 3rem 3rem 3rem 5rem;
    }
    
    div .img3-tablet{
        grid-column: span 2;
        grid-row: auto;
        text-align: center;
        margin-right: 32px;
    }

    .img3-tablet p{
        width: 382px;
    }

    /*Tamaño de las imagenes*/
    .img-instrument-index img{
        width: 30vw;
        height: 30vw;
        border-radius: 5%;
    }

     /*main Mi Trayectoria*/

     .div-trayectory h1{
        text-align: center;
        justify-content: center;
        font-family: 'Andreas'; 
        font-weight: 600;
        font-size: 3vw;
        margin: 32px;
    }


        /*main tienda*/
    .section-instrument-tienda{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        justify-items: center;
        justify-content: center;
        gap: 6rem;
        margin: 3rem;
    }

    #titulo-tienda{
        color: #0048b1;
        font-family: 'Andreas';
        font-size: 5vw;
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 16px;
    }

    div #category-tienda{

        font-family: 'Times New Roman', Times, serif;
        font-size: 4vw;
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 16px;
    }
    
    
    div #category-tienda-1{
    
        font-family: 'Times New Roman', Times, serif;
        font-size: 4vw;
        text-align: center;
        padding-top: 2rem;
    }

    .img-instrument-tienda{
        width: 320px;
    }

    .img-instrument-tienda img{
        width: 320px;
        height: 320px;
        border-radius: 5%;
    }

     /*main contacto*/

     .div-h1-contacto h1{
        color:#0048b1;
        font-family: 'Andreas';
        font-weight: bold;
        font-size: 3vw;
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 32px;
    }
    
    .titulo-2-contacto h2{
    
        font-family: 'Times New Roman', Times, serif;
        font-size: 2vw;
        text-align: center;
        padding-top: 4rem;
    }
    
    .text-contacto p{
    
        font-size: 2vw;
        text-align: center;
        justify-content: center;
        margin: 0 4em 0 4em;
    }
    

}


/*Media query para tablet*/
@media screen and (max-width: 1024px) and (min-width: 769px){

    /*main index*/

    .align-items{
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .section-instrument-index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5rem;
        margin: 3rem 3rem 3rem 5rem;
    }

    .img-instrument-index{
        width: auto;
        height: auto;
    }
    
    .img-instrument-index img{
        width: 220px;
        height: 220px;
        border-radius: 5%;
    }
    
    
    div .img3-tablet{
        grid-column: span 2;
        grid-row: auto;
        text-align: center;
        margin-right: 32px;
    }

    .img3-tablet p{
        width: 382px;
    }

    /*Tamaño de las imagenes*/
    .img-instrument-index img{
        width: 30vw;
        height: 30vw;
        border-radius: 5%;
    }

    /*main Mi Trayectoria*/

    .div-trayectory h1{
        text-align: center;
        justify-content: center;
        font-family: 'Andreas'; 
        font-weight: 600;
        font-size: 4vw;
        margin: 32px;
    }


        /*main tienda*/
    .section-instrument-tienda{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        justify-items: center;
        justify-content: center;
        gap: 6rem;
        margin: 3rem;
    }

    #titulo-tienda{
        color: #0048b1;
        font-family: 'Andreas';
        font-size: 6vw;
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 16px;
    }

    div #category-tienda{

        font-family: 'Times New Roman', Times, serif;
        font-size: 5vw;
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 16px;
    }
    
    
    div #category-tienda-1{
    
        font-family: 'Times New Roman', Times, serif;
        font-size: 5vw;
        text-align: center;
        padding-top: 2rem;
    }

    .img-instrument-tienda{
        width: auto;
    }

    .img-instrument-tienda img{
        width: 320px;
        height: 320px;
        border-radius: 5%;
    }

     /*main contacto*/

     .div-h1-contacto h1{
        color:#0048b1;
        font-family: 'Andreas';
        font-weight: bold;
        font-size: 3vw;
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 32px;
    }
    
    .titulo-2-contacto h2{
    
        font-family: 'Times New Roman', Times, serif;
        font-size: 3vw;
        text-align: center;
        padding-top: 4rem;
    }
    
    .text-contacto p{
    
        font-size: 2vw;
        text-align: center;
        justify-content: center;
        margin: 0 4em 0 4em;
    }


}


/*Media query para mobile*/
@media screen and (max-width: 768px){

    .menu-logo img{
        width: 80px;
        border-radius: 25px;
    }

    .align-items{
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .section-index-titulo h1{

        color: #0048b1;
        text-align: center;
        font-family: 'Andreas'; 
        font-weight: bold;
        font-size: 7vw;
        margin: 32px 0 32px 0;
    }

    .section-index-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em 1em 2em 1em;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        justify-items: center;
        
    }
    
    .section-index-1 div img{
        border-radius: 20px;
        width: 75%;
    }

    .front-page-text{
        margin-top: 32px;
    }
    
    .front-page-text h2{
        text-align: center;
        justify-content: center;
        font-family: 'Andreas'; 
        font-weight: bold;
        font-size: 6vw;
        margin-bottom: 16px;
    }

    .front-page-text p{
        font-size: 4vw;
        margin: 0 0 16px 16px;
    }
    
    .line-front-page{
        border-top: 1px solid #8b8b8b;
      height: 2px;
      margin: 0 25px 0 25px;
    
    }
    
    div #category{
    
        font-family: 'Andreas';
        font-weight: bold;
        font-size: 6vw;
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 16px;
    }
    
    .section-instrument-index{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5rem;
        margin: 3rem;
    }

    .img-instrument-index{
        width: 250px;
        height: auto;
    }
    
    .img-instrument-index img{
        width: 250px;
        height: 250px;
        border-radius: 5%;
    }

    
    .img-instrument-index h3{
        font-size: 6vw;
    }

    .img-instrument-index p{
        width: 250px;
        font-size: 3.5vw;
    }

    .button-instrument-index{
        font-family: 'Andreas'; 
        font-weight: 700;
        font-size: 4vw;
        padding: 0.80rem;
        border-radius: 15px;
    }
    
    .video-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 32px;
    }

    .margin-video-mobile{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }


    .video-index iframe{

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .video-index h2{
        width: auto;
        justify-content: center;
        text-align: center;
        font-family: 'Andreas';
        font-weight: bold;
        font-size: 6vw;
    }
    
    footer{
        margin-top: 5rem;
        background-color: #f8f9fa;
    }
    
    #footer-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    section #footer-img img{
        width: 80px;
        height: 80px;    
        border-radius: 25px;
    }
    
    .section-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 10px;
        gap: 10vw;
        text-align: center;
    }
    
    
    .footer-list ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        padding-left: 0;
        padding-bottom: 1vw;
        margin-bottom: 0;
    }

    .section-footer div h3{
        font-size: 1em;
    }
    
    .section-footer div p{
        font-size: 1em;
    }
    
    .footer-list ul li{
        list-style-type: none;
    }
    
    /*main Mi Trayectoria*/

    .div-trayectory h1{
        text-align: center;
        justify-content: center;
        font-family: 'Andreas'; 
        font-weight: 600;
        font-size: 7vw;
        margin: 32px;
    }

    .front-page-text-trayectory{
        font-size: 4vw;
    }

    .section-trayectory-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3em;
        text-align: center;
        justify-content: center;
        justify-items: center;
        
    }

    .section-trayectory-1 div img{
        width: 55vw;
        border-radius: 25px;
    }

    .front-page-text-trayectory h2{
        margin: 32px 0 32px 0;
        font-family: 'Andreas'; 
        font-weight: bold;
        font-size: 6vw;
    }

    .front-page-text-trayectory p{
        justify-content: center;
        text-align: center;
        margin: 16px 0 16px 0;
    }

    /*main Academy*/

    .div-h1 h1{

        color: #0048b1;
        text-align: center;
        justify-content: center;
        font-family: 'Andreas'; 
        font-weight: 600;
        font-size: 5vw;
        margin: 64px 0 0 0;
        
    }

    .carousel-img{
        width: 100%;
        height: 300px;
    }

    .carousel-img img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
    }

    .div-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 32px 0px 0px 0px;
    }

    .div-text p{
        text-align: center;
        justify-content: center;
        font-size: 3vw; 
        margin: 16px 16px 54px 16px;
    }

    .div-text div h2{
        font-size: 4vw;
    }

    .button-academy{
        font-family: inherit;
        font-size: 3vw;
        padding: 20px;
        border-radius: 20px;
    }
    
    /*main tienda*/

        
    .section-instrument-tienda{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: end;
        justify-items: center;
        justify-content: center;
        gap: 6rem;
        margin: 3rem;
    }

    #titulo-tienda{
        color: #0048b1;
        font-family: 'Andreas';
        font-size: 7vw;
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 16px;
    }

    div #category-tienda{

        font-family: 'Times New Roman', Times, serif;
        font-size: 7vw;
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 16px;
    }
    
    
    div #category-tienda-1{
    
        font-family: 'Times New Roman', Times, serif;
        font-size: 6vw;
        text-align: center;
        padding-top: 2rem;
    }

    .img-instrument-tienda{

        width: auto;
    }

    .img-instrument-tienda img{
        width: 320px;
        height: 320px;
        border-radius: 5%;
    }

    /*main contacto*/

    .div-h1-contacto h1{
        color:#0048b1;
        font-family: 'Andreas';
        font-weight: bold;
        font-size: 5vw;
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 32px;
    }
    
    .titulo-2-contacto h2{
    
        font-family: 'Times New Roman', Times, serif;
        font-size: 4vw;
        text-align: center;
        padding-top: 3rem;
    }
    
    .text-contacto p{
    
        font-size: 3vw;
        text-align: center;
        justify-content: center;
        margin: 0 4em 0 4em;
    }


}
