@charset "UTF-8";
/*Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos globales*/
html {
  background-color: #2b3035;
}

/*Fuente google*/
@font-face {
  font-family: "Andreas";
  src: url(../assets/fonts/Andreas.ttf);
}
header nav .container {
  padding-left: 0;
}
header nav .container .menu-logo img {
  width: 10vw;
}
header nav .container .menu-navbar .logo-img-svg {
  background-image: url(../assets/img/imagen-menu1.svg);
}
header nav .container .menu {
  flex-grow: 0;
  font-weight: 500;
}
header nav .container .menu .menu-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/*linea divisora*/
.line-front-page {
  border-top: 1px solid #8b8b8b;
  height: 2px;
  margin: 0 25px 0 25px;
}

.align-items {
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.main-index section .index-titulo-1 h1 {
  color: #0048b1;
  font-family: "Andreas";
  font-weight: bold;
  font-size: 4vw;
  margin: 32px 0 32px 0;
}
.main-index section .div-index-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3em;
  border-radius: 20px;
  overflow: hidden;
}
.main-index section .div-index-1 div img {
  width: 30vw;
}
.main-index section .div-index-1 .front-page-text {
  font-size: 2vw;
}
.main-index section .div-index-1 .front-page-text h2 {
  font-family: "Andreas";
  font-weight: bold;
  font-size: 4vw;
  margin-bottom: 32px;
}
.main-index section .div-index-1 .front-page-text p {
  margin-left: 32px;
}
.main-index section #index-titulo-2 h2 {
  font-family: "Andreas";
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 16px;
}
.main-index section .div-instrument-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 6rem;
  margin: 3rem;
}
.main-index section .div-instrument-index .img-instrument-index {
  border-radius: 20px;
  box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  width: 420px;
  height: 570px;
}
.main-index section .div-instrument-index .img-instrument-index img {
  width: 100%;
  height: 320px;
}
.main-index section .div-instrument-index .img-instrument-index h3 {
  margin-top: 0.5rem;
}
.main-index section .div-instrument-index .img-instrument-index p {
  margin: 0 1vw 15px 1vw;
  font-size: 1vw;
}
.main-index section .div-instrument-index .img-instrument-index .button-instrument-index {
  background-color: #0048b1;
  font-family: "Andreas";
  font-weight: 700;
  font-size: 1.2vw;
}
.main-index section .video-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.main-index section .video-index h2 {
  text-align: center;
  font-family: "Andreas";
  font-weight: bold;
  font-size: 3vw;
  margin: 16px;
}
.main-index section .video-index .video-youtube {
  width: 75vw;
  height: 40vw;
}
.main-index section .video-index .video-youtube iframe {
  width: 100%;
  height: 100%;
}

.main-my-trayectory section .div-trayectory h1 {
  color: #0048b1;
  font-family: "Andreas";
  font-weight: 600;
  font-size: 4vw;
  margin: 64px;
}
.main-my-trayectory section .div-trayectory-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3em;
}
.main-my-trayectory section .div-trayectory-1 img {
  width: 25vw;
}
.main-my-trayectory section .div-trayectory-1 .text-trayectory {
  margin-left: 32px;
}
.main-my-trayectory section .div-trayectory-1 .text-trayectory h2 {
  margin-bottom: 32px;
  font-family: "Andreas";
  font-weight: bold;
  font-size: 3vw;
}
.main-my-trayectory section .div-trayectory-1 .text-trayectory p {
  font-size: 2vw;
}

.main-academia section .carousel-img {
  width: 100%;
  height: 500px;
}
.main-academia section .carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.main-academia section .titulo-academy h1 {
  color: #0048b1;
  font-family: "Andreas";
  font-weight: 600;
  font-size: 4vw;
  margin: 64px;
}
.main-academia section .text-academy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0 64px 0;
}
.main-academia section .text-academy h2 {
  font-size: 3vw;
}
.main-academia section .text-academy p {
  font-size: 2vw;
  margin: 32px 32px 64px 32px;
}
.main-academia section .text-academy .button-academy {
  background-color: #0048b1;
  font-family: inherit;
  font-size: 2vw;
  padding: 30px;
  border-radius: 25px;
}

.main-tienda section #titulo-tienda h1 {
  color: #0048b1;
  font-family: "Andreas";
  font-weight: bold;
  font-size: 3vw;
  padding-top: 3rem;
  margin-bottom: 16px;
}
.main-tienda section #category-tienda h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3vw;
  padding-top: 3rem;
  margin-bottom: 16px;
}
.main-tienda section .div-instrument-tienda {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  text-align: center;
  align-items: end;
  justify-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 3rem;
}
.main-tienda section .div-instrument-tienda .card-instrument-tienda {
  width: 320px;
}
.main-tienda section .div-instrument-tienda .card-instrument-tienda img {
  width: 100%;
  border-radius: 5%;
}
.main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
  background-color: #0048b1;
  font-family: "Andreas";
  font-weight: 700;
  padding: 15px;
}
.main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
  height: 25px;
  width: 25px;
}

.main-contacto section .titulo-contacto h1 {
  color: #0048b1;
  font-family: "Andreas";
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 32px;
}
.main-contacto section .text-contacto p {
  font-size: 1.2vw;
  text-align: center;
  justify-content: center;
  margin: 0 4em 0 4em;
}
.main-contacto section .titulo-2-contacto h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
  padding-top: 4rem;
}
.main-contacto section .form-contact {
  margin: 25px;
}
.main-contacto section .form-contact .button-contact .button-contact-1 {
  background-color: #0048b1;
  font-family: "Andreas";
  font-size: 25px;
  padding: 15px;
  border-radius: 25px;
}

footer section {
  margin-top: 5rem;
  background-color: #f8f9fa;
}
footer section #footer-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
footer section #footer-img img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
}
footer section .div-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-self: start;
  text-align: center;
  padding: 0 3vw 0 3vw;
  gap: 15vw;
}
footer section .div-footer h3 {
  font-size: 2em;
}
footer section .div-footer p {
  font-size: 2em;
}
footer section .footer-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding-left: 0;
  padding-bottom: 1vw;
  margin-bottom: 0;
}
footer section .footer-list ul li {
  list-style-type: none;
}

/*Media Query todas las paginas*/
/*Media query nav bar*/
@media screen and (max-width: 991px) {
  header nav .container .menu .menu-items {
    align-items: center;
    z-index: 1;
    width: 100vw;
    background-color: #f8f9fa;
  }
}
/*Media query para monitores pequeños*/
@media screen and (max-width: 1450px) and (min-width: 1025px) {
  .main-index section .div-instrument-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 3rem 3rem 5rem;
  }
  .main-index section .div-instrument-index .img-instrument-index {
    border-radius: 20px;
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 33vw;
    height: 49vw;
  }
  .main-index section .div-instrument-index .img-instrument-index img {
    width: 100%;
    height: 30vw;
  }
  .main-index section .div-instrument-index .img-instrument-index h3 {
    margin-top: 0.5rem;
  }
  .main-index section .div-instrument-index .img-instrument-index p {
    margin: 0 1vw 15px 1vw;
    font-size: 1.8vw;
  }
  .main-index section .div-instrument-index .img-instrument-index .button-instrument-index {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    font-size: 1.8vw;
  }
  .main-index section .div-instrument-index .img3-index {
    grid-column: span 2;
    grid-row: auto;
    text-align: center;
  }
  .main-tienda section .div-instrument-tienda {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    text-align: center;
    align-items: end;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    width: 320px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 100%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 15px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }
  .main-contacto section .titulo-contacto h1 {
    font-size: 3vw;
  }
  .main-contacto section .text-contacto p {
    font-size: 2vw;
  }
  .main-contacto section .titulo-2-contacto h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 3vw;
    padding-top: 4rem;
  }
  .main-contacto section .form-contact {
    margin: 25px;
  }
  .main-contacto section .form-contact .button-contact .button-contact-1 {
    background-color: #0048b1;
    font-family: "Andreas";
    font-size: 2vw;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
  }
}
/*Media query para tablet*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .main-index section .div-instrument-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
    justify-items: center;
    justify-content: end;
    gap: 2rem;
    margin: 3rem 3rem 3rem 5rem;
  }
  .main-index section .div-instrument-index .img-instrument-index {
    border-radius: 20px;
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 39vw;
    height: 57vw;
  }
  .main-index section .div-instrument-index .img-instrument-index img {
    width: 100%;
    height: 35vw;
  }
  .main-index section .div-instrument-index .img-instrument-index h3 {
    margin-top: 0.5rem;
  }
  .main-index section .div-instrument-index .img-instrument-index p {
    margin: 0 1vw 15px 1vw;
    font-size: 1.8vw;
  }
  .main-index section .div-instrument-index .img-instrument-index .button-instrument-index {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    font-size: 2vw;
  }
  .main-index section .div-instrument-index .img3-index {
    grid-column: span 2;
    grid-row: auto;
    text-align: center;
  }
  .main-tienda section #titulo-tienda h1 {
    font-size: 4vw;
  }
  .main-tienda section #category-tienda h2 {
    font-size: 4vw;
  }
  .main-tienda section .div-instrument-tienda {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
    align-items: end;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    width: 320px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 85%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 15px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }
  .main-contacto section .titulo-contacto h1 {
    font-size: 4vw;
  }
  .main-contacto section .text-contacto p {
    font-size: 2.2vw;
  }
  .main-contacto section .titulo-2-contacto h2 {
    font-size: 4vw;
  }
  .main-contacto section .form-contact {
    margin: 25px;
  }
  .main-contacto section .form-contact .button-contact .button-contact-1 {
    background-color: #0048b1;
    font-family: "Andreas";
    font-size: 2.5vw;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
  }
  footer section {
    margin-top: 5rem;
    background-color: #f8f9fa;
  }
  footer section #footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  footer section #footer-img img {
    width: 12vw;
    height: 12vw;
    border-radius: 5%;
  }
  footer section .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-self: start;
    text-align: center;
    padding: 0 3vw 0 3vw;
    gap: 15vw;
  }
  footer section .div-footer h3 {
    font-size: 1.5rem;
  }
  footer section .div-footer p {
    font-size: 1.3rem;
  }
  footer section .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
  footer section .footer-list ul li {
    list-style-type: none;
  }
}
@media screen and (max-width: 768px) {
  header nav .container {
    padding-left: 0;
  }
  header nav .container .menu-logo img {
    width: 20vw;
  }
  header nav .container .menu-navbar .logo-img-svg {
    background-image: url(../assets/img/imagen-menu1.svg);
  }
  header nav .container .menu {
    flex-grow: 0;
    font-weight: 500;
  }
  header nav .container .menu .menu-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .main-index section .index-titulo-1 h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 7vw;
    margin: 2rem 0 1rem 0;
  }
  .main-index section .div-index-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 20px;
    overflow: hidden;
  }
  .main-index section .div-index-1 div img {
    width: 52vw;
    border-radius: 5%;
  }
  .main-index section .div-index-1 .front-page-text {
    font-size: 3.7vw;
  }
  .main-index section .div-index-1 .front-page-text h2 {
    font-family: "Andreas";
    font-weight: bold;
    font-size: 6vw;
    margin: 2rem 0 1rem 0;
  }
  .main-index section .div-index-1 .front-page-text p {
    text-align: center;
    margin-left: 0;
  }
  .main-index section #index-titulo-2 h2 {
    font-family: "Andreas";
    font-weight: bold;
    font-size: 7vw;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .main-index section .div-instrument-index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: end;
    justify-items: center;
    justify-content: end;
    gap: 2rem;
    margin: 2rem 0 3rem 0;
  }
  .main-index section .div-instrument-index .img-instrument-index {
    border-radius: 5vw;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 65vw;
    height: 100vw;
  }
  .main-index section .div-instrument-index .img-instrument-index img {
    width: 100%;
    height: 55vw;
  }
  .main-index section .div-instrument-index .img-instrument-index h3 {
    margin-top: 1vw;
    font-size: 7vw;
  }
  .main-index section .div-instrument-index .img-instrument-index p {
    margin: 0 1vw 5vw 1vw;
    font-size: 3.2vw;
  }
  .main-index section .div-instrument-index .img-instrument-index .button-instrument-index {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    font-size: 4vw;
  }
  .main-index section .video-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw 0 3vw 0;
  }
  .main-index section .video-index .card-size {
    width: 95vw;
    margin-bottom: 3vw;
  }
  .main-index section .video-index .card-size h2 {
    text-align: center;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 7vw;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
  .main-index section .video-index .video-youtube {
    width: 88vw;
    height: 45vw;
  }
  .main-index section .video-index .video-youtube iframe {
    width: 100%;
    height: 100%;
  }
  .main-my-trayectory section .div-trayectory h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 7vw;
    margin: 2rem 0 1rem 0;
  }
  .main-my-trayectory section .div-trayectory-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8vw;
  }
  .main-my-trayectory section .div-trayectory-1 img {
    width: 75vw;
    border-radius: 5%;
  }
  .main-my-trayectory section .div-trayectory-1 .text-trayectory {
    text-align: center;
    margin-left: 0;
  }
  .main-my-trayectory section .div-trayectory-1 .text-trayectory h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 6vw;
  }
  .main-my-trayectory section .div-trayectory-1 .text-trayectory p {
    width: 74vw;
    font-size: 3.8vw;
  }
  .main-academia section .carousel-img {
    width: 100%;
    height: 60vw;
  }
  .main-academia section .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .main-academia section .titulo-academy h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: 600;
    font-size: 6.5vw;
    margin-top: 7vw;
    margin-right: 7vw;
    margin-left: 7vw;
    margin-bottom: 7vw;
  }
  .main-academia section .text-academy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .main-academia section .text-academy h2 {
    font-size: 5.5vw;
  }
  .main-academia section .text-academy p {
    font-size: 4vw;
    margin: 2rem 2rem 3rem 2rem;
  }
  .main-academia section .text-academy .button-academy {
    background-color: #0048b1;
    font-family: inherit;
    font-size: 5vw;
    padding: 4vw;
    border-radius: 2vw;
  }
  .main-tienda section #titulo-tienda h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 8vw;
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
  .main-tienda section #category-tienda h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 8vw;
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
  .main-tienda section .div-instrument-tienda {
    display: grid;
    grid-template-columns: repeat(1, 20%);
    text-align: center;
    align-items: end;
    justify-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 3rem;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    width: 85vw;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 100%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 1rem;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }
  .main-contacto section .titulo-contacto h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 7vw;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .main-contacto section .text-contacto p {
    font-size: 3.5vw;
    margin: 1rem 2rem 2rem 2rem;
    text-align: center;
    justify-content: center;
  }
  .main-contacto section .titulo-2-contacto h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 6vw;
    padding-top: 1rem;
  }
  .main-contacto section .form-contact {
    margin: 25px;
  }
  .main-contacto section .form-contact .button-contact .button-contact-1 {
    background-color: #0048b1;
    font-family: "Andreas";
    font-size: 6vw;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5vw;
  }
  footer section {
    margin-top: 5rem;
    background-color: #f8f9fa;
  }
  footer section #footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  footer section #footer-img img {
    width: 20vw;
    height: 20vw;
    border-radius: 5%;
  }
  footer section .div-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: start;
    text-align: center;
    padding: 0 3vw 3vw 3vw;
    gap: 8vw;
  }
  footer section .div-footer h3 {
    font-size: 5.7vw;
  }
  footer section .div-footer p {
    font-size: 4.7vw;
  }
  footer section .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
  footer section .footer-list ul li {
    list-style-type: none;
  }
}

/*# sourceMappingURL=style.css.map */
