.main-tienda{
    section{
        #titulo-tienda{
            h1{

                color: $color-primary;
                font-family: 'Andreas';
                font-weight: bold;
                font-size: 3vw;
                padding-top: 3rem;
                margin-bottom: 16px; 
            }
        }
    }

    section{
        #category-tienda{
            h2{
                font-family: 'Times New Roman', Times, serif;
                font-size: 3vw;
                padding-top: 3rem;
                margin-bottom: 16px; 
            }
        }

        .div-instrument-tienda{

            display: grid;
            grid-template-columns: repeat(4, 20%);
            text-align: center;
            align-items: end;
            justify-items: center;
            justify-content: center;
            gap: 4rem;
            margin: 3rem;

            .card-instrument-tienda{
                width: 320px;

                img{
                    width: 100%;
                    border-radius: 5%;
                }

                .logo-button-shopp{
                    .button-instrument-tienda{

                        background-color: $color-primary;
                        font-family: 'Andreas'; 
                        font-weight: 700;
                        padding: 15px;
                        
                    }

                    img{
                        height: 25px;
                        width: 25px;
                    }
                    
                } 
            }

        }
    }
}