footer{

    section{
        margin-top: 5rem;   
        background-color: $color-secundary;
        
        #footer-img{
            @include flex(column, center, center);
            padding: 1rem;

            img{
            
                width: 150px;
                height: 150px;    
                border-radius: 5%;
            }
        }

        .section-footer{
            @include flex (row,center, start);
            align-self: start;
            text-align: center;
            padding: 0 3vw 0 3vw;
            gap: 15vw;
            
            h3{
                font-size: 2em;
            }
            p{
                font-size: 2em;
            }
        }

        .footer-list ul{
            @include flex(row, center, center);
            gap: 1vw;
            padding-left: 0;
            padding-bottom: 1vw;
            margin-bottom: 0;

            li{
                list-style-type: none;
            }
        }
    }
}