
header{
    nav{
        .container{
            padding-left: 0;

            .menu-logo{
                transition: 0.5S;
                
                img{
                    width: 10vw;
                }
                
                &:hover{
                    transform: translate(-15px, -15px);
                    transition: 0.5S;
                }
            }
            
            .menu-navbar{
                .logo-img-svg{
                    background-image: url(../assets/img/imagen-menu1.svg);
                }
            }

            .menu{
                flex-grow: 0;
                font-weight: 500;     

                .menu-items{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    .nav-link{
                        &:hover{
                            color:$color-primary;
                            transform: translate(-5px, -5px);                            
                        }
                    }
                }
            }
        }
    }
}

