
header{
    nav{
        .navbar{
            .container{
                padding-left: 0;

                .menu-logo{
                    img{
                        width: 150px;
                    }
                }
                
                .menu-navbar{
                    .logo-img-svg{
                        background-image: url(../assets/img/imagen-menu1.svg);
                    }
                }

                .menu{
                    flex-grow: 0;
                    font-weight: 500;
                    }

            }
        }

    }
}

